body {
margin: 0;
font-family: Arial, sans-serif;
background: #f8cce5;
}


header {
text-align: center;
padding: 20px;
font-size: 30px;
font-weight: bold;
color: #333;
}


.container {
width: 90%;
max-width: 500px;
margin: auto;
background: white;
padding: 20px;
border-radius: 15px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


input, button, select, textarea {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 16px;
}


button {
background: #ff69b4;
color: white;
cursor: pointer;
font-weight: bold;
}


button:hover {
opacity: 0.9;
}


#map {
height: 300px;
width: 100%;
border-radius: 12px;
margin-top: 10px;
}